/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/delete-node/ &storage_partition;

&mx25r64 {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		storage_partition: storage_partition@0 {
			label = "storage";
			reg = <0x00000000 0x00010000>;
		};

		msc_partition: msc_partition@10000 {
			label = "msc";
			reg = <0x00010000 0x00030000>;
		};

		lfs_partition: lfs_partition@30000 {
			label = "lfs";
			reg = <0x00030000 0x4000000>;
		};
	};
};

/ {
	
	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&msc_partition>;
		disk-name = "NAND";
		cache-size = <4096>;
	};

	hid_keyboard: hid_keyboard {
        status = "okay";
		compatible = "zephyr,hid-device";
		interface-name = "keyboard";
		boot-protocol-code = "keyboard";
		in-report-size = <128>;
		in-polling-rate = <1000>;
		out-report-size = <128>;
		out-polling-rate = <16000>;
	};

	hid_raw: hid_raw {
		status = "okay";
		compatible = "zephyr,hid-device";
		interface-name = "raw";
		boot-protocol-code = "none";
		in-report-size = <128>;
		in-polling-rate = <1000>;
		out-report-size = <128>;
		out-polling-rate = <16000>;
	};
};

&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 7)>;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 7)>;
			low-power-enable;
		};
	};
};

&pwm_led0 {
	pwm_led0 {
		pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
	};
};

&ft5336_adafruit_2_8_tft_touch_v2 {
	/* Uncomment if IRQ line is available (requires to solder jumper) */
	int-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>;
};